.btn-error {
    background-color: red;
}

.btn-error:after {
    position: absolute;
    content: 'Fill all values';
    left: 50%;
    margin-left: -55px;
    text-align: center;
    width: 100px;
    white-space: nowrap;
    background-color: rgba(255,0,0,0.6);
    border-radius: 5px;
    padding: 5px;
    top: -33px;
    display: none;
}

.btn-error:hover:after {
    display: block;
}