aside {
    background-color: #a19d9d;
    padding: 1rem 2rem;
    width: 25%;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

aside p label {
    display: block;
    color: #f6ea8c;
}
aside input[type=text] {
    background: none;
    font-size: 1rem;
    width: 100%;
    color:white;
    border: 0;
    border-bottom: 1px solid white;
    padding: 10px 0;
    margin-bottom: 2rem;
}
aside input[type=text]::placeholder {
    color: white;
}

aside input[type=text]:focus {
    outline: 0;
}