main {
    background-color: #8b8687;
    flex-grow: 1;
    padding: 1rem 0;
}

.books-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pages-control {
    text-align: center;
    color: #f6ea8c;
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.book {
    position: relative;
    color: #f6ea8c;
    display: flex;
    align-items: center;
    font-size: 96px;
    font-family: Arial, sans-serif;
    justify-content: center;
    width: 30%;
    margin: 1rem 0.5rem;
    background-color: #5f5b5c;
    height: 300px;
}

img {
    max-width: 60%;
    max-height: 60%;
}

.book__name {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.book__read {
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.book__date {
    position: absolute;
    top: 30px;
    left: 20px;
    font-weight: normal;
    font-size: 12px;
}