.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: #313030;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 1rem;
    font-family: Arial, serif;
}

nav h1 {
    margin: 0;
    font-weight: normal;
    color: white;
}

nav span {
    color: #e3e18c;
    margin-right: 1rem;
    font-size: 1rem;
}

button {
    background: none;
    border: 1px solid white;
    font-size: 1rem;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
}

.library-container {
    display: flex;
    flex-grow: 1;
}

.library-content {
    flex-grow: 1;
    background-color: #8b8687;
}

.page-control {
    margin: 1rem 0;
    font-weight: bold;
    color: #e3e18c;
    font-size: 1.2rem;
    text-align: center;
    list-style-type: none;
}

.page-control li {
    display: inline-block;
    margin: 0 0.3rem;
    cursor: pointer;
}

.page-control li:after {
    content: ',';
}

.page-control li:last-child:after {
    content: '';
}

.books-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-item {
    background-color: #5f5b5c;
    width: 30%;
    height: 250px;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-item img {
    max-height: 60%;
    max-width: 60%;
}

.book-item__rate {
    position: absolute;
    margin: 10px 10px 0 0;
    right: 0;
    top: 0;
    color: #e3e18c;
}

.book-item__title {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #e3e18c;
}

aside {
    min-width: 25%;
    background-color: #a19d9d;
    padding: 0 2rem;
}

aside label {
    display: block;
    color: #e3e18c;
}

aside input, aside select {
    background-color: #a19d9d;
    border: 0;
    width: 100%;
    padding: 0.5rem 0;
    border-bottom: 1px solid white;
    color: white;
    font-weight: normal;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.sort-select {
    width: 95%;
}

.sort-order {
    color: white;
    cursor: pointer;
}

input:focus,select:focus {
    outline: none;
}